body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    line-height: 1.6;
}

h2, h3 {
    color: #318f9b;
}

label {
    font-weight: bold;
}

input {
    width: 300px;
    padding: 6px;
}

button {
    padding: 6px 12px;
    margin-top: 10px;
    cursor: pointer;
}

pre {
    background-color: #d3faf5;
    padding: 12px;
    border-radius: 4px;
    font-size: 0.9em;

    white-space: pre-wrap;   /* allows wrapping */
    word-break: break-all;   /* breaks long strings */
    overflow-x: hidden;      /* removes horizontal scroll */
}


body {
    background-color: #d7eef1;
}
