{% extends "base.html" %}

{% block title %}Register - D-E Web Monitoring Portal{% endblock %}

{% block footer_class %}fixed-bottom{% endblock %}

{% block content %}
<div class="text-center my-4">
  <span class="section-badge section-badge-accent">Create Your Account</span>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
          <h2>Register Here</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('auth.register') }}">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn bg-primary text-white">Register</button>
              <p class="text-center mt-3">Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="container mt-3">
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
